<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>編集</title>
  <link rel="stylesheet" href="{{ url_for('todo.static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <div class="card">

      <div class="actions">
        <a class="btn btn-add" href="{{ url_for('todo.home') }}">戻る</a>
      </div>

      <form class="edit-form" action="{{ url_for('todo.edit', todo_id=todo['id']) }}" method="post">
        <div class="field">
          <label>タイトル
          <input class="input" type="text" name="title" value="{{ todo['title'] }}"></label>

          <label>期限変更
          <input class="input" type="date" name="due_date" min="{{ today }}" value="{{ todo['due_date'] or '' }}"></label>
        </div>

        <div class="form-actions">
          <button class="btn btn-done" type="submit">更新</button>
        </div>
      </form>


      <div class="journal-box">
        <h2>作業日誌</h2>

        <form class="journal-form"
              action="{{ url_for('todo.add_journal', todo_id=todo['id']) }}"
              method="post">
          <input class="input journal-input"
                 type="text"
                 name="content"
                 placeholder="今日の作業を記録...">
          <button class="btn btn-add" type="submit">記録</button>
        </form>

        <div class="journal-list">
          {% for j in journals %}
           <div class="journal-item">
              <div class="journal-left">
               <div class="journal-time">{{ j['created_at'] }}</div>
               <div class="journal-text">{{ j['content'] }}</div>
            </div>

           <form class="journal-del"
                action="{{ url_for('todo.delete_journal', journal_id=j['id']) }}"
                method="post">
              <button class="btn btn-del-mini" type="submit">削除</button>
           </form>
          </div>
          {% else %}
            <div class="journal-empty">まだ記録はありません</div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</body>
</html>